/* CSS Document */


*{ 
background-color: #336699;
width: 1024px;
color: #000;
font-family: Arial, "sans-serif";
font-size:12px;
top-margin:0;
bottom-margin:0;
left-margin:center;
right-margin:center;
}


(alt if not)///*{ 
background-color: #FFF;
width: 1024px;
height: 400px;
padding:5px;
}
/////*/


img{
align:left;
padding:15px;
}

h1{
font-family: Arial, "sans-serif";
font-size:36px;
color:#000000;
font-weight:bold;
}

h2{
font-family: Arial, "sans-serif";
font-size:14px;
color:#FFF;
font-weight:bold;
}

.green{
color:#FF0;
font-weight:bold;
} 

.textCenter{
color:#FFF;
text-align:center;
} 

hr{
height:5px;
background-color: #996633;
}


























































